<html>
<head>
  <title>Sample Columbo::Capture Sinatra app</title>
  <style type="text/css" media="screen">
    body {
      font-family: Georgia;
      font-size: 24px;
      text-align: left;
    }

    #headers {
      font-size: 16px;
    }

    input {
      font-size: 24px;
      cursor: pointer;
    }
  </style>
</head>
<body>

<div id="headers">
  <h3>Request:</h3>

  <% env.each do |key, value| %>
    <p><%= key %>: <%= value %></p>
  <% end %>

  <h3>Response headers:</h3>

  <% response.headers.each do |key, value| %>
    <p><%= key %>: <%= value %></p>
  <% end %>

  <h3>Params:</h3>
  <% params.each do |key, value| %>
    <p><%= key %>: <%= value || '(blank)' %></p>
  <% end %>
</div>
</body>
</html>